<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>类别管理列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/js/xadmin.js"></script>
    <script type="text/javascript" src="../../static/js/category1.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">系统管理</a>
        <a>
          <cite>类别管理</cite></a>
      </span>
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="类别内容" name="content_s" id="content_s" type="text">
            <span class="layui-btn" onclick="get_search()"><i class="layui-icon">&#xe615;</i></span>
        </form>
    </div>

    <table class="layui-table">
        <thead>
        <tr>
            <th>编号</th>
            <th>类型</th>
        </tr>
        </thead>
        <tbody id="category_data">

        </tbody>
    </table>
    <div class="page">
        <div id="page_list">

        </div>
    </div>

</div>
</body>
<style>
    .layui-form-label {
        width: 150px !important;
    }
</style>

</html>