<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>公告管理列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/js/xadmin.js"></script>
    <script type="text/javascript" src="../../static/js/slog.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">爬虫管理</a>
        <a>
          <cite>启动爬虫</cite></a>
      </span>
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="日志内容" name="log_s" id="account_s" type="text">
            <span class="layui-btn" onclick="get_search()"><i class="layui-icon">&#xe615;</i></span>
        </form>
    </div>
    <xblock>
        <div class="layui-row">
            <span class="layui-form layui-col-md12 x-so">
                <input class="layui-input" placeholder="商品类别关键字" name="key" id="key" type="text">
                <input class="layui-input" placeholder="商品子类别关键字" name="subkey" id="subkey" type="text">
                <input class="layui-input" placeholder="爬取页数" name="num" id="num" type="number">
                <button class="layui-btn" onclick="spider()"><i class="layui-icon"></i>启动爬虫</button>
            </span>
        </div>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>编号</th>
            <th>日志内容</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="slog_data">

        </tbody>
    </table>
    <div class="page">
        <div id="page_list">

        </div>
    </div>

</div>
</body>
<style>
    .layui-form-label {
        width: 150px !important;
    }
</style>
<div class="x-body" id="slog-form" style="display: none">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="log" class="layui-form-label">
                <span class="x-red">*</span>日志内容
            </label>
            <div class="layui-input-inline">
              <textarea id="log" name="log" lay-verify="required" placeholder="请输入内容"
                        class="layui-textarea" cols="30" rows="12"></textarea>
                <input type="hidden" disabled id="id" name="id">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button id="L_repass" class="layui-btn" lay-filter="edit" lay-submit="">
                提交
            </button>
        </div>
    </form>
</div>
</html>