<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>用户管理列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/js/xadmin.js"></script>
    <script type="text/javascript" src="../../static/js/user.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">系统管理</a>
        <a>
          <cite>用户管理</cite></a>
      </span>
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="用户昵称" name="name_s" id="name_s" type="text">
            <input class="layui-input" placeholder="用户账号" name="account_s" id="account_s" type="text">
            <input class="layui-input" placeholder="用户电话" name="phone_s" id="phone_s" type="text">
            <input class="layui-input" placeholder="用户邮箱" name="mail_s" id="mail_s" type="text">
            <input class="layui-input" placeholder="用户单位" name="company_s" id="company_s" type="text">
            <span class="layui-btn" onclick="get_search()"><i class="layui-icon">&#xe615;</i></span>
        </form>
    </div>
    <xblock>
        <button class="layui-btn" onclick="user_add()"><i class="layui-icon"></i>新增</button>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>编号</th>
            <th>昵称</th>
            <th>账号</th>
            <th>密码</th>
            <th>单位</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>类型</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="user_data">

        </tbody>
    </table>
    <div class="page">
        <div id="page_list">

        </div>
    </div>

</div>
</body>
<style>
    .layui-form-label {
        width: 150px !important;
    }
</style>
<div class="x-body" id="user-form" style="display: none">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="account" class="layui-form-label">
                <span class="x-red">*</span>账号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="account" name="account" required lay-verify="required"
                       autocomplete="off" class="layui-input">
                <input type="hidden" disabled id="id" name="id">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="password" class="layui-form-label">
                <span class="x-red">*</span>密码
            </label>
            <div class="layui-input-inline">
                <input type="text" id="password" name="password" autocomplete="off" class="layui-input" required
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>昵称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="phone" class="layui-form-label">
                <span class="x-red">*</span>电话
            </label>
            <div class="layui-input-inline">
                <input type="text" id="phone" name="phone" required lay-verify="required|phone"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="mail" class="layui-form-label">
                <span class="x-red">*</span>邮箱
            </label>
            <div class="layui-input-inline">
                <input type="email" id="mail" name="mail" required lay-verify="required|email"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="company" class="layui-form-label">
                <span class="x-red">*</span>单位
            </label>
            <div class="layui-input-inline">
                <input type="text" id="company" name="company" required lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="type" class="layui-form-label">
                <span class="x-red">*</span>类型
            </label>
            <div class="layui-input-inline">
                <select name="type" id="type" lay-filter="type">
                    <option value="1" selected>普通用户</option>
                    <option value="0">管理员</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button id="L_repass" class="layui-btn" lay-filter="edit" lay-submit="">
                提交
            </button>
        </div>
    </form>
</div>
</html>